
		<div class="container">
			<div class="row">
				<main class="col-md-12">

                <h1>Welcome to about page</h1>
                <h2>A little about me...</h2>
                <p>Good day, My name is Alexander Thomas and i am from the island of Barbados.I am currently studyig the btt program at Seneca College.</p>
                <p>Student information:
                    ID:133475228
                    Seneca username: ajathomas
                    email: ajathomas@myseneca.ca
                </p>
					<!-- Start your code here -->
					
					
					
					<!-- End your code here  -->



				</main>
			</div>
		</div>
